.evaluationBar {
    position: relative;
    width: 100%;
    min-width: 24px;
    height: 100%;
}

.overBar {
    width: 100%;

    transition: height 0.5s ease-out
}

.evaluationText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    font-size: 8px;
    font-weight: 600;
}